body {
	font-family: Helvetica, Arial, sans-serif;
}
button {
	padding: 5px;
}
label {
	font-weight: bold;
	padding-right: 10px;
}
pre {
	background-color: #F3F3F3;
	border: 1px solid gray;
	padding: 10px;
}
footer {
	float: right;
	font-size: 0.8em;
}